/* DocSection: build_first_js_app_style */

@import url('http://fonts.cdnfonts.com/css/gt-walsheim');

body {
  font-family: 'GT Walsheim', sans-serif;
  /* padding: 0 20%; */
  margin: 0;
  padding: 0 0 48px 0;
  background-color: #f1f5f9;
}

body a {
  color: rgb(219, 60, 0);
}

#app {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 700px) {
  #app {
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  #app {
    width: 60%;
  }
}

#app-header {
  margin-bottom: 24px;
  background-color: rgb(219, 60, 0);
  padding: 12px 24px;
  color: #ffffff;
  line-height: 50px;
}

#app-header .github-link img {
  width: 50px;
  height: 50px;
  float: right;
}

#app-header a {
  text-decoration: none;
  color: inherit;
  border-radius: 25px;
}

#article-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.card {
  padding: 24px 32px;
  border: solid 1px #e6e6e6;
  border-radius: 25px;
  background: white;
}

.card-no-link-style a {
  color: inherit;
  text-decoration: none;
}

.card:hover {
  box-shadow: #cfcfcf 0 0 1rem;
}

.card img {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .card {
    flex: 1 1 calc((100% / 2));
  }
}

@media screen and (min-width: 1200px) {
  .card {
    flex: 1 1 calc((100% / 3));
  }
}

@media screen and (min-width: 1900px) {
  .card {
    flex: 1 1 calc((100% / 4));
  }
}

.article-teaser {
  width: 100%;
}
/* EndDocSection */